extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-slider-wrap.bg-grey
		.container
			.row
				.col-12
					.top-slider-wrap__content
						.top-slider.js-top-slider
							-
								var list=[
									{img:'top-slide1.jpg', title:'Экспертиза и обследование', text:'Экспертиза и обследование зданий и сооружений проводится для определения технического состояния объектов. Целью экспертизы является установление необходимости выполнения капитального ремонта или принятия иных мер и проведения мероприятий для усиления конструкций или улучшения других технических характеристик объектов. По итогам экспертизы здания или сооружения могут быть признаны безопасными, аварийными или требующими выполнения определенных ремонтных работ.Экспертиза и обследование зданий и сооружений проводится для'},
									{img:'top-slide2.jpg', title:'Экспертиза и обследование 2', text:'Экспертиза и обследование зданий и сооружений проводится для определения технического состояния объектов. Целью экспертизы является установление необходимости выполнения капитального ремонта или принятия иных мер и проведения мероприятий для усиления конструкций или улучшения других технических характеристик объектов. По итогам экспертизы здания или сооружения могут быть признаны безопасными.'},
									{img:'top-slide3.jpg', title:'Экспертиза и обследование 3', text:'Экспертиза и обследование зданий и сооружений проводится для определения технического состояния объектов. Целью экспертизы является установление необходимости выполнения капитального ремонта или принятия иных мер и проведения мероприятий для усиления конструкций или улучшения других технических характеристик объектов0.'},
									{img:'top-slide4.jpg', title:'Экспертиза и обследование 4', text:'Экспертиза и обследование зданий и сооружений проводится для определения технического состояния объектов. Целью экспертизы является установление необходимости выполнения капитального ремонта или принятия иных мер и проведения мероприятий для усиления конструкций или улучшения других технических характеристик объектов. По итогам экспертизы здания или сооружения могут быть признаны безопасными, аварийными или требующими выполнения определенных ремонтных работ.'},
									{img:'top-slide5.jpg', title:'Экспертиза и обследование 5', text:'Экспертиза и обследование зданий и сооружений проводится для определения технического состояния объектов. Целью экспертизы является установление необходимости выполнения капитального ремонта или принятия иных мер и проведения мероприятий для усиления конструкций или улучшения других технических характеристик объектов. По итогам экспертизы здания или сооружения могут быть признаны безопасными, аварийными или требующими.'},
								]
							each item in list
								.top-slider__item
									.top-slider__img(style="background-image: url(assets/img/"+item.img+")")

									.top-slider__content
										.top-slider__info
											.top-slider__title= item.title
											.top-slider__text= item.text

										a(href="#").btn.btn_radius Перейти к услуге

						.top-slider-wrap__nav.js-top-slider-nav

	section.advant-wrap.bg-grey
		.container
			.row
				.col-12
					.advant
						.row
							-
								var list=[
									{icon:'ic-school-hat', icon_width:'85', icon_height:'51', text:'16 лет практики'},
									{icon:'ic-team', icon_width:'77', icon_height:'57', text:'90 клиентов'},
									{icon:'ic-crane-small', icon_width:'55', icon_height:'55', text:'140 проектов', line:'true'},
									{icon:'ic-map', icon_width:'95', icon_height:'60', text:'В 24 регионах России', line:'true'},
								]
							each item in list
								.col-6.col-lg-3
									.advant-item
										.advant-item__icon
											+svg(item.icon, item.icon, item.icon_width, item.icon_height)
										.advant-item__text(class=item.line?'advant-item__text_line':'')= item.text

	section.consult
		.container
			.row
				.col-4.d-none.d-lg-block
					.consult__img
						img(src="assets/img/woman.png", alt="")

				.col-lg-8
					.consult__bg
						img(src="assets/img/phone.png", alt="")

					.js-valid-form
						form.form-line
							.form-line__title Оставьте заявку на консультацию и&nbsp;мы&nbsp;перезвоним в течение 5 минут!
							
							.form-line__content
								.form-line__fields
									.form-line__item.js-form-site-item
										input(type="text", required="required", placeholder="Ваш номер телефона *", class="js-phone")

								.form-line__btn
									button(type="submit").btn.js-btn-submit Оставить заявку
							
							.form-line__polit Нажимая кнопку «оставить заявку» вы соглашаетесь на обработку Ваших персональных данных

	section.services-wrap
		.container
			.row
				.col-12
					h2 Услуги нашей компании

			.row
				.col-md-6
					.services-sect
						.services-sect__top
							.services-sect__icon
								+svg('ic-hotel','ic-hotel', '40', '40')
							.services-sect__title
								a(href="#") Техническое обследование зданий и сооружений, опасных производственных объектов

						.services-sect__list
							-
								var list=[
									{text:'Обследование специальных сооружений'},
									{text:'Расчеты конструкций, в т.ч. на особое воздействие'},
									{text:'Теплотехнический расчет ограждающих конструкций'},
									{text:'Тепловизионное обследование зданий и сооружений'},
									{text:'Разработка программы мониторинга, мониторинг состояния '},
								]
							each item in list
								a(href="#").services-sect__item= item.text

						a(href="#").services-sect-more
							span.services-sect-more__text Смотреть еще
							span.services-sect-more__icon
								+svg('ic-eye','ic-eye', '24', '20')

				.col-md-6
					.services-sect
						.services-sect__top
							.services-sect__icon
								+svg('ic-government','ic-government', '40', '40')
							.services-sect__title
								a(href="#") Техническое обследование объектов культурного наследия (ОКН)

						.services-sect__list
							-
								var list=[
									{text:'Оценка технического состояния ОКН '},
									{text:'Разработка мероприятий по обеспечению сохранности ОКН'},
									{text:'Оценка природных и техногенных воздействий на состояние и эксплуатационную пригодность объектов культурного наследия'},
									{text:'Мониторинг  ОКН '},
									{text:'Объекты '},
								]
							each item in list
								a(href="#").services-sect__item= item.text

						a(href="#").services-sect-more
							span.services-sect-more__text Смотреть еще
							span.services-sect-more__icon
								+svg('ic-eye','ic-eye', '24', '20')

				.col-md-6
					.services-sect
						.services-sect__top
							.services-sect__icon
								+svg('ic-nuclear-plant','ic-nuclear-plant', '40', '40')
							.services-sect__title
								a(href="#") Техническое обследование объектов энергетики. 

						.services-sect__list
							-
								var list=[
									{text:'Оценка технического состояния зданий и сооружений подстанций и опор линий ВЛ'},
									{text:'Оценка соответствия построенных объектов проектной документации и требованиям'},
									{text:'Плановые осмотры объектов для назначения перечня профилактических мероприятий с целью обеспечения требуемого уровня безопасности объекта.'},
									{text:'Комплексное обследование, включающее оценку состояния навесной арматуры (провода, грозозащита, линейная арматура и изоляция, ЗУ).'},
									{text:'Оценка износа'},
								]
							each item in list
								a(href="#").services-sect__item= item.text

						a(href="#").services-sect-more
							span.services-sect-more__text Смотреть еще
							span.services-sect-more__icon
								+svg('ic-eye','ic-eye', '24', '20')
				
				.col-md-6
					.services-sect
						.services-sect__top
							.services-sect__icon
								+svg('ic-teamwork','ic-teamwork', '40', '40')
							.services-sect__title
								a(href="#") Мониторинг строительных объектов 

						.services-sect__list
							-
								var list=[
									{text:'Разработка раздела документации "Геотехническое обоснование" с оценкой зоны влияния строительных работ'},
									{text:'Разработка программы геотехнического мониторинга'},
									{text:'Проведение работ по контролю объектов в зоне влиния строительных работ и на объекте нового строительства или реконструкции'},
									{text:'Организация постоянной системы мониторинга на строительной площадке'},
									{text:'Объекты'},
								]
							each item in list
								a(href="#").services-sect__item= item.text

						a(href="#").services-sect-more
							span.services-sect-more__text Смотреть еще
							span.services-sect-more__icon
								+svg('ic-eye','ic-eye', '24', '20')

			.row
				.services-wrap__more
					.col-12
						a(href="#").btn.btn_radius Весь список наших услуг

	section.about
		.container
			.row
				.col-md-6.order-2.order-md-1
					h2 О компании Строй Эксперт

					p Экспертиза промышленной безопасности сегодня является необходим условием для успешной и безопасной работы всех предприятий России. Компания «Строй Эксперт» успешно занимается экспертизой промышленных зданий и объектов с 2002 года, и сегодня мы являемся признанными профессионалами рынка.
					p В штате компании работают специалисты самого высокого уровня, способные находить наиболее эффективные решения для сложных задач и справляться с их выполнением за короткие сроки. Применение новейшего оборудования в совокупности с современными методами обследования гарантирует высокую точность результатов экспертизы.

					a(href="#").link-more.link-more_orange
						span.link-more__text Смотреть еще
						span.link-more__icon
							+svg('ic-arr-right','ic-arr-right', '14', '12')


				.offset-md-1.col-md-5.order-1.order-md-2
					.about__img
						img(src="assets/img/model.jpg", alt="")

	section.news-slider-wrap.bg-grey
		.container
			.row
				.col-12
					h2 Новости компании

					.news-slider.js-news-slider
						-
							var list=[
								{img:'news1.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news2.jpg', title:'Новость компании', text:'Применен современными методами обследования'},
								{img:'news3.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news2.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news1.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news3.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
							]
						each item in list
							.news-item
								a(href="#").news-item__img-wrap
									.news-item__img(style="background-image: url(assets/img/"+item.img+")")

								.news-item__content
									.news-item__title
										a(href="#")= item.title
									.news-item__text= item.text

					a(href="#").link-more
						span.link-more__text Смотреть все новости
						span.link-more__icon
							+svg('ic-arr-right','ic-arr-right', '14', '12')

	section.works-wrap
		.container
			.row
				.col-12
					h2 Выполненные нами работы

			.row
				-
					var list=[
						{img:'work1.jpg', text:'Очистные сооружения ПО «Киришинефтеоргсинтез»'},
						{img:'work2.jpg', text:'Определение соответствия правилам технической безопасности различных объектов завода'},
						{img:'work3.jpg', text:'Экспертиза монолитных ж.б. конструкций здания «Сбербанка» в Великом Новгороде'},
						{img:'work4.jpg', text:'Грануляционные башни производства НАФ (г. Великий Новгород)'},
						{img:'work5.jpg', text:'Обследование межцеховых и внутрицеховых эскалад цеха аммиачной селитры (Смоленская область)'},
						{img:'work6.jpg', text:'Техническое диагностирование печи первичного риформинга цеха аммиака'},
					]
				each item in list
					.col-md-4
						a(href="#").work-item(style="background-image: url(assets/img/"+item.img+")")
							.work-item__content
								.work-item__text= item.text
								.work-item__more Подробнее
									+svg('ic-eye','ic-eye', '24', '20')

			.row
				.col-12
					.works-wrap__more
						a(href="#").btn.btn_radius Смотреть все работы

	section.news-slider-wrap.bg-grey
		.container
			.row
				.col-12
					h2 Статьи компании

					.news-slider.js-news-slider
						-
							var list=[
								{img:'news1.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news2.jpg', title:'Новость компании', text:'Применен современными методами обследования'},
								{img:'news3.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news2.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news1.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
								{img:'news3.jpg', title:'Новость компании', text:'Применение новейшего оборудования в совокупности с современными методами обследования'},
							]
						each item in list
							.news-item
								a(href="#").news-item__img-wrap
									.news-item__img(style="background-image: url(assets/img/"+item.img+")")

								.news-item__content
									.news-item__title
										a(href="#")= item.title
									.news-item__text= item.text

					.row
						.col-md-4
							a(href="#").link-more
								span.link-more__text Смотреть все статьи
								span.link-more__icon
									+svg('ic-arr-right','ic-arr-right', '14', '12')

						.col-md-8
							.js-valid-form
								form.form-line.form-line_small
									.form-line__content
										.form-line__fields
											.form-line__item.js-form-site-item
												input(type="email", required="required", placeholder="Введите Ваш e-mail, чтобы подписаться на рассылку *")

										.form-line__btn
											button(type="submit").btn.js-btn-submit Подписаться
									
									.form-line__polit Нажимая кнопку «Подписаться» Вы соглашаетесь на обработку Ваших персональных данных

	section.addresses-wrap.last-elem
		.container
			.row
				.col-12
					h2 Мы работаем по всей России

					.addresses
						-
							var list=[
								{text:'Санкт-Петербург'},
								{text:'Москва'},
								{text:'Воронеж'},
								{text:'Ростов-на-Дону'},
								{text:'Хабаровск'},
								{text:'Новосибирск'},
								{text:'Омск'},
								{text:'Екатеринбург'},
								{text:'Челябинск'},
								{text:'Казань'},
								{text:'Смоленск'},
								{text:'Мурманск'},
								{text:'Архангельск'},
								{text:'Нижний Новгород'},
								{text:'Пермь'},
								{text:'Самара'},
								{text:'Уфа'},
								{text:'Пятигорск'},
								{text:'Ставрополь'},
								{text:'Краснодар'},
								{text:'Калининград'},
								{text:'Новороссийск'},
								{text:'Пенза'},
								{text:'Владивосток'},
								{text:'Тверь'},
								{text:'Ярославль'},
								{text:'Белгород'},
								{text:'Ижевск'},
								{text:'Петрозаводск'},
								{text:'Тамбов'},
								{text:'Йошкар-Ола'},
								{text:'Тюмень'},
								{text:'Нижневартовск'},
								{text:'Астрахань'},
								{text:'Вологда'},
								{text:'Чебоксары'},
								{text:'Тула'},
								{text:'Балашиха'},
								{text:'Черняховск'},
								{text:'Череповец'},
							]
						each item in list
							.addresses__item
								.addresses__icon
									+svg('ic-pin','ic-pin', '8', '11')
								.addresses__text= item.text